article, nav, header, footer, main {
	display: block;
}

*{
	
}

body{
	padding: 50px;
	text-align: center;
	background-color: #F0F8FF;
}

#page
{
	height: 900px;
	width: auto;
	margin: 5px;
	text-align: left;
	border: 2px solid #2F4F4F;
}

#page>header
{
	font: bold 1.5em courier, monospace;
	color: white;
	border-bottom: 6px solid #b30000;
	background-color: #2d5986;
	text-align: center;
}


#page>header>h1
{
	padding: 20px 100px 20px 100px;
	/*padding: 20px 100px;*/
}



ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #333333;
}

li {
	float: left;
}


li a {
	font: bold 1em arial, sans_serif;
	display: block;
	color: white;
	text-align: center;
	padding: 30px;
	text-decoration: none;
}


li a:hover {
	background-color: #111111;
}

main {
	padding: 20px;
}


article {
	font: arial, sans_serif;
	width: 360px;
	height: 400px;
	border: 1px solid lightgray;
	background-color: white;
	text-align: center;
	line-height: 1.8em;
	padding: 5px 10px 22px 10px;
	margin: 30px 48px;
	float:left;
}

footer {
	font: bold 1em arial, sans_serif;
	color: white;
	clear:left;
	text-align: center;
}